.classpath
.project
.settings/
target/
out/
.DS_Store
product-locator/back/war/WEB-INF/classes/
product-locator/front/war/WEB-INF/classes/
product-locator/api/.springBeans
*.class
/novacodex-common/common-rest/src/META-INF/MANIFEST.MF
/novacodex-common/common-rest-client/src/META-INF/MANIFEST.MF
*.log.*
*.iml
*.ipr
*.iws
*.swp
*.log
/product-locator/domain/src/main/java/META-INF/MANIFEST.MF
/product-locator/front/src/main/webapp/META-INF/MANIFEST.MF
/back-office/web-app/WEB-INF/classes/_formatter.gsp
/back-office/web-app/WEB-INF/classes/_visualization_javascript.gsp
/back-office/web-app/WEB-INF/classes/deprecated/index.gsp
/back-office/web-app/WEB-INF/classes/env/development.properties
/back-office/web-app/WEB-INF/classes/env/hudson.properties
/back-office/web-app/WEB-INF/classes/env/prod_dev.properties
/back-office/web-app/WEB-INF/classes/env/production.properties
/back-office/web-app/WEB-INF/classes/env/test.properties
/back-office/web-app/WEB-INF/classes/formatter/index.gsp
/back-office/web-app/WEB-INF/classes/hibernate/front-office.cfg.xml
/back-office/web-app/WEB-INF/classes/hibernate/geoip.cfg.xml
/back-office/web-app/WEB-INF/classes/index.gsp
/back-office/web-app/WEB-INF/classes/layouts/main.gsp
/back-office/web-app/WEB-INF/classes/mapping/back-office.xml
/back-office/web-app/WEB-INF/classes/mapping/front-office.xml
/back-office/web-app/WEB-INF/classes/mapping/google-adwords.xml
/back-office/web-app/WEB-INF/classes/messages.properties
/back-office/web-app/WEB-INF/classes/messages_da.properties
/back-office/web-app/WEB-INF/classes/messages_de.properties
/back-office/web-app/WEB-INF/classes/messages_es.properties
/back-office/web-app/WEB-INF/classes/messages_fr.properties
/back-office/web-app/WEB-INF/classes/messages_it.properties
/back-office/web-app/WEB-INF/classes/messages_ja.properties
/back-office/web-app/WEB-INF/classes/messages_nl.properties
/back-office/web-app/WEB-INF/classes/messages_pt_BR.properties
/back-office/web-app/WEB-INF/classes/messages_pt_PT.properties
/back-office/web-app/WEB-INF/classes/messages_ru.properties
/back-office/web-app/WEB-INF/classes/messages_th.properties
/back-office/web-app/WEB-INF/classes/messages_zh_CN.properties
/back-office/web-app/WEB-INF/classes/reporting/reports.xml
/back-office/web-app/WEB-INF/classes/rules/google_adwords.drl
/back-office/logs/adventori/back-office-development.log
/product-locator/front/src/main/webapp/all.js
/product-locator/front/src/main/webapp/markerclusterer.js
/back-office/stacktrace.log
/back-office/logs

build_all.bat

/back-office/.idea/
/.idea
*.ids
.idea
/back-office/out
/back-office/preprod.war